{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Overview' %}{% endblock %}

{% block head %}
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript">
        $(function() {
        var Dict = {{ Dict|safe }};
        var indx = 0
        var inner = '<div class="col-md-6"><div class="panel panel-default"><div id="container_pic_module_pie' + indx + '" style="min-width:300px;height:300px"></div></div></div>'
        alert(inner)
        document.getElementById("divadd").innerHTML = inner; 





        var x=0
        for(i in Dict) {
            var data1 = [];
            var id = "container_pic_module_pie"+x.toString(); 
            var list = Dict[i]
            for(index in list){
                data1.push([list[index][0],list[index][1]]);
            }
                    chart = new Highcharts.Chart({
                    chart: {
                        renderTo: id,
                        type: 'pie'
                    },
                    title: {
                        text: i+'区域设备比例'
                    },
                    tooltip: {
                        pointFormat: '数量: {point.y},{series.name}:<b>{point.percentage:.1f}%</b>'
                    },
                    series: [{
                        type:'pie',
                        name: '设备占比',
                        data:data1 ,
                     }]
                });
            
            x = x+1
          }
          });
    </script>
        
{% endblock head %}

{% block main %}

<div class="page-header">
    <h1>{% trans 'Overview' %}</h1>
</div>


  <div class="users">
    <div id="divadd"  class="row">



    </div>
  </div>


{% endblock main %}