
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans "Equipments" %}
{% endblock title %}

{% block head %}
    <link href="{% static 'css/equipments.css' %}" rel="stylesheet">
    <script src="{% static 'js/equipments.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){    
      $("button").click(function(){
        $("#tlcd").table2excel(
        {
            exclude:".noExl",  //不被导出的表格行的CSS class类
            name:"Equipment",   //导出的excel文档名称
            filename:"Equipment"   //excel文件的名称
        });
     });  
    }); 
    </script>
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>{% trans 'Equipment List' %}</h1>
    <button  type="button"  class="btn btn-primary pull-right">{% trans 'Download Excel' %}</button>
</div>
<div class="table-responsive">
<table id='tlcd' class="table table-bordered table-hover table-striped">
    <caption>设备列表</caption>
   <thead>
      <tr>
         <th>区域</th>
         <th>设备名称</th>
         <th>数量</th>
      </tr>
   </thead>
   <tbody>
    {% for equipmentarea in object_list %}
      <tr>
         {%if equipmentarea.area.name != 'warehouse' %}
         <td>{{ equipmentarea.area.name }}</td>
         <td>{{ equipmentarea.equipment.name }}</td>
         <td>{{ equipmentarea.quantity }}</td>
         {% endif %}
      </tr>
    {% endfor %}
   </tbody>
</table>
</div>
{% endblock main %}