
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans "Equipments" %}
{% endblock title %}

{% block head %}
    <link href="{% static 'css/equipments.css' %}" rel="stylesheet">
    <script src="{% static 'js/equipments.js' %}"></script>
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>{% trans 'Equipment List' %}</h1>
</div>
<div class="table-responsive">
<table  class="table table-bordered table-hover table-striped">
    <caption>设备列表</caption>
   <thead>
      <tr>
         <th>区域</th>
         <th>设备名称</th>
         <th>数量</th>
      </tr>
   </thead>
   <tbody>
    {% for equipmentarea in object_list %}
      <tr>
         {%if equipmentarea.area.name != 'warehouse' %}
         <td>{{ equipmentarea.area.name }}</td>
         <td>{{ equipmentarea.equipment.name }}</td>
         <td>{{ equipmentarea.quantity }}</td>
         {% endif %}
      </tr>
    {% endfor %}
   </tbody>
</table>
</div>
{% endblock main %}