{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans "Equipments" %}
{% endblock title %}

{% block head %}
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>{% trans 'Equipment List' %}</h1>
</div>
<div class="table-responsive">
<table  class="table table-bordered table-hover table-striped">
    <caption>设备列表(按区域)</caption>
   <thead>
      <tr>
         <th>区域</th>
         <th>设备总数</th>
      </tr>
   </thead>
   <tbody>
    {% for k,v in module_dict.items %}
      <tr>
         <td>{{ k }}</td>
         <td>{{ v }}</td>
      </tr>
    {% endfor %}
   </tbody>
</table>
</div>
{% endblock main %}