
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans "Operations" %}
{% endblock title %}

{% block head %}
    <link href="{% static 'css/equipments.css' %}" rel="stylesheet">
    <script src="{% static 'js/equipments.js' %}"></script>
{% endblock head %}

{% block main %}

<div class="page-header">
    <h1>{% trans 'Operation List' %}</h1>
</div>
<table class="table">
    <caption>设备出入记录</caption>
   <thead>
      <tr>
         <th>设备名称</th>
         {% for operation in object_date_time %}
         <th>{{ operation.date_time }}</th>
         {% endfor %}
      </tr>
   </thead>
   <tbody>
    {% for ename in object_filter %}
      <tr>
        <td>{{ ename.equipment.name }}</td>
          {% for o in object_list %}
            {% if ename.equipment.name == o.equipment.name %}
              <td>{{ o.quantity }}</td>
            {% else %}
              <td>0</td>
            {% endif %}
               {% empty %}
                <td>0</td>
          {% endfor %}
      </tr>
    {% endfor %}
   </tbody>
</table>


{% endblock main %}