
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans "Operations" %}
{% endblock title %}

{% block head %}
    <link href="{% static 'css/equipments.css' %}" rel="stylesheet">
    <script src="{% static 'js/equipments.js' %}"></script>
{% endblock head %}

{% block main %}

<div class="page-header">
    <h1>{% trans 'Operation List' %}</h1>
</div>
<div class="table-responsive">
<table  class="table table-bordered table-hover table-striped">
    <caption>设备出入记录</caption>
   <thead>
      <tr>
         <th>设备名称</th>
         {% for operation in object_filter %}
         <th>{{ operation.equipment.name }}</th>
         {% endfor %}
      </tr>
   </thead>
   <tbody>
    {% for k,v in dict_date.items %}
      <tr>
        <td>{{ k }}</td>
        {% for o in v %}
          <td>{{ o }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
   </tbody>
</table>
</div>

{% endblock main %}