
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans "Operations" %}
{% endblock title %}

{% block head %}
    <link href="{% static 'css/equipments.css' %}" rel="stylesheet">
    <script src="{% static 'js/equipments.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){    
      $("button").click(function(){
        $("#tlcd").table2excel(
        {
            exclude:".noExl",  //不被导出的表格行的CSS class类
            name:"Equipment",   //导出的excel文档名称
            filename:"Equipment"   //excel文件的名称
        });
     });  
    }); 
    </script>
{% endblock head %}

{% block main %}

<div class="page-header">
    <h1>{% trans 'Operation List' %}</h1>
    <button  type="button"  class="btn btn-primary pull-right">{% trans 'Download Excel' %}</button>
</div>
<div class="table-responsive">
<table id='tlcd' class="table table-bordered table-hover table-striped">
    <caption>设备出入记录</caption>
   <thead>
      <tr>
         <th>设备名称</th>
         {% for operation in object_filter %}
         <th>{{ operation.equipment.name }}</th>
         {% endfor %}
      </tr>
   </thead>
   <tbody>
    {% for k,v in dict_date.items %}
      <tr>
        <td>{{ k }}</td>
        {% for o in v %}
          <td>{{ o }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
   </tbody>
</table>
</div>

{% endblock main %}