body {
  background-color: #006389;
}



.logo {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
  text-align: center;
  text-shadow: 1px 1px 0 #333333;
  line-height: 70px;
}

.login {
  background-color: #f6f6f6;
  width: 70%;
  border-radius: 7px;
  margin: 10px auto 0;
}

.login {
  padding: 30px 20px;
}

.login form {
  margin-top: 20px;
}